body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e0f7fa; /* Fondo general */
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    background: #00796b;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #004d40 3px solid;
    border-radius: 10px 10px 0 0;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #e0f2f1;
    border: #004d40 1px solid;
    border-radius: 5px;
}

section h2 {
    color: #00796b;
    margin-bottom: 10px;
    border-bottom: 2px solid #004d40;
    padding-bottom: 5px;
}

section h3 {
    color: #004d40;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: url('/images/checkmark.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    margin: 10px 0;
    color: #00796b;
}

.image {
    text-align: center;
    margin: 20px 0;
}

.image img {
    max-width: 100%;
    width: 500px; /* Tamaño fijo para todas las imágenes */
    height: auto;
    border: 2px solid #004d40;
    border-radius: 5px;
}

